{% if page.image %}
  {% assign page_image = page.image.path | default: page.image %}
  {% unless page_image contains '://' %}
    {% assign page_image = page_image | relative_url %}
  {% endunless %}
  {% assign page_image = page_image | escape %}

  {% unless page_image contains '://' %}
    {% assign page_image = page_image | relative_url %}
  {% endunless %}
  {% assign page_image = page_image | escape %}

  {% unless site.logo %}
    {% assign image_style="margin-top: 0;" %}
  {% endunless %}


  
  <div class="project-image">

    {% assign image = page.image %}
    {% assign image_path = page_image %}
    {% assign image_style = "height: 400px;" %}
    {% include page-media.html %}

    

  </div>
{% endif %}
